3장 연습문제 1번~14번 p89~p91

1. 4번 print("50+50")

In [ ]:
2. 3번 5 / 10 = 0

In [ ]:
3.  (1) print("%04d" % 876) => 0876
    (2) print("%5s" % "CookBook") => CookBook
    (3) print("%1.1f" % 123.45) => 123.5

In [ ]:
4. print("{2:d} {0:d} {1:D}".format(111, 222, 333)) => 3번 333 1111 222

In [ ]:
5.  (1) \t
    (2) \b
    (3) \\

In [ ]:
6. 4번 문자 : character

In [ ]:
7.  2번 100 = num1
    4번 num1 = 100 = num2 = 100

In [ ]:
8.  (a = b = 10 = c = d = 20)
    위 코드의 오류 발생 이유 : 변수값 설정에 있어 10 = 20이라는 오류가 발생함

In [ ]:
9.  2번 0011 => 0010
    4번 1001 => 1010, C => B
    5번 1111 => 1110, F => 10

In [ ]:
10. (1) 3 int(0b0011)
    (2) 10 int(0b01010)
    (3) 17 int(0x11)
    (4) 15 int(0o17)

In [ ]:
11. (1) 11 int(0b1011)
    (2) 26 int(0x1A)

In [ ]:
12. (1) hex
    (2) oct
    (3) bin

In [ ]:
13. 전부
    (1) 100'2'
    (2) 100'8'
    (3) AAF'G'

In [ ]:
14. 3번 True와 False 두가지 값만 가짐
    5번 문자열은 큰따옴표, 작은따옴표 둘 다 사용가능

In [14]:
num = input("글자 입력 : ")

if ('a' <= num <= 'f') or ('A' <= num <= 'F') :
    print("16진수 입니다")
elif '8' <= num <= '9' :
    print("10진수 또는 16진수 입니다")
elif '2' <= num <= '7' :
    print("8진수 또는 10진수 또는 16진수 입니다")
elif '0' <= num <= '1' :
    print("2진수 또는 8진수 또는 10진수 또는 16진수 입니다")
else :
        print("숫자가 아닙니다")

글자 입력 :  G

숫자가 아닙니다

In [ ]:
4장 연습문제 1번~9번 p116~p118

In [ ]:
1.  (1) =
    (2) //
    (3) %
    (4) **

In [ ]:
2.  (1) 7
    (2) 5
    (3) -5
    (4) -1

In [ ]:
3.  (1) int
    (2) float
    (3) str

In [ ]:
4. 100

In [ ]:
5.  (1) False
    (2) False
    (3) True
    (4) True

In [ ]:
6.  (1) False
    (2) True
    (3) False
    (4) True

In [ ]:
7.  (1) 000
    (2) 111
    (3) 011
    (4) 1100

In [4]:
num1, num2 = 6, 1

In [ ]:
8. () + << & >= == and

In [44]:
money, a, b, c, d = 0, 0, 0, 0, 0

a = int(input("500원짜리 개수 --> "))
b = int(input("100원짜리 개수 --> "))
c = int(input("50원짜리 개수 --> "))
d = int(input("10원짜리 개수 --> "))

a *= 500
money += a

b *= 100
money += b

c *= 50
money += c

d *= 10
money += d

print(money, "\b원")

500원짜리 개수 -->  7
100원짜리 개수 -->  13
50원짜리 개수 -->  9
10원짜리 개수 -->  2

5270원

In [ ]:
5장 연습문제 1번~6번 p140~p141

In [ ]:
1. 1번 if num == 100 :

In [ ]:
2. 5번 케이스2 케이스3

In [ ]:
3. num % 5 != 0

In [8]:
num = int(input("정수를 입력하세요 : "))

if num % 5 != 0 :
    print("5의 배수가 아닙니다.")
else :
    print("5의 배수입니다.")

정수를 입력하세요 :  10

5의 배수입니다.

In [ ]:
4. score = int(input("점수를 입력하세요 : "))

if score >= 90 :
    print("장학생", end='')
elif score >= 60 :
    print("합격", end='')
else :
    print("불합격", end='')
    
print("입니다. ^^")

In [10]:
score = int(input("점수를 입력하세요 : "))

if score >= 90 :
    print("장학생", end='')
elif score >= 60 :
    print("합격", end='')
else :
    print("불합격", end='')
    
print("입니다. ^^")

점수를 입력하세요 :  90

장학생입니다. ^^

In [ ]:
5. 3번 res ='짝수' if num % 2 == 0 else '홀수'

In [ ]:
6. import random

numbers = []
for num in range(1, 20) :
    numbers.append(random.randrange(0, 10))
    
print("생성된 리스트", numbers)

for num in range(1, 20) :
    if num in numbers :
        print("숫자 %d는(은) 뽑혔습니다." %num)

In [14]:
import random

numbers = []
for num in range(1, 20) :
    numbers.append(random.randrange(0, 10))
    
print("생성된 리스트", numbers)

for num in range(1, 20) :
    if num in numbers :
        print("숫자 %d는(은) 뽑혔습니다." %num)

생성된 리스트 [5, 1, 3, 5, 2, 1, 9, 8, 8, 8, 7, 3, 3, 9, 9, 5, 9, 9, 4]
숫자 1는(은) 뽑혔습니다.
숫자 2는(은) 뽑혔습니다.
숫자 3는(은) 뽑혔습니다.
숫자 4는(은) 뽑혔습니다.
숫자 5는(은) 뽑혔습니다.
숫자 7는(은) 뽑혔습니다.
숫자 8는(은) 뽑혔습니다.
숫자 9는(은) 뽑혔습니다.