# Python에서 MySQL 접속

In [1]:
! conda install -y pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\BIT\anaconda3\envs\lecture

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2022.3.29  |       haa95532_0         122 KB
    pymysql-1.0.2              |   py38haa95532_1          77 KB
    ------------------------------------------------------------
                                           Total:         200 KB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-1.0.2-py38haa95532_1

The following packages will be UPDATED:

  ca-certificates                       2022.2.1-haa95532_0 --> 2022.3.29-haa95532_0



Downloading and Extracting Packages

ca-certificates-2022 | 122 KB    |            |   0%
ca-certificates-2022 | 122 KB    | ########## | 100%

pymysql-1.0.2        | 77 KB     |            |   0%
pymysql-1.0.2        | 77 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [2]:
# step 1 
import pymysql

In [3]:
# step 2 : MySQL Connection 연결
con = pymysql.connect(host='127.0.0.1', user='root', password='1234',
                      db='sqldb', charset='utf8')

In [4]:
# step 3 : Connection으로부터 Cursor 생성
cur = con.cursor()

In [5]:
# step 4 : SQL문 실행 및 Fetch
sql = "select * from sqldb.usertbl"
cur.execute(sql)

11

In [8]:
# Data Fetch
rows = cur.fetchall()

In [9]:
type(rows)

tuple

In [10]:
print(rows)  # 전체 rows

(('BBK', '바비킴', 1973, '서울', '010', '0000000', 176, datetime.date(2013, 5, 5)), ('EJW', '은지원', 1972, '경북', '011', '8888888', 174, datetime.date(2014, 3, 3)), ('JKW', '조관우', 1965, '부산', '018', '9999999', 172, datetime.date(2010, 10, 10)), ('JYP', '조용필', 1950, '경기', '011', '4444444', 166, datetime.date(2009, 4, 4)), ('KBM', '김병만', 1977, '경기', '010', '5555555', 158, datetime.date(2023, 1, 1)), ('KBS', '김범수', 1979, '경남', '011', '2222222', 173, datetime.date(2012, 4, 4)), ('KKH', '김경호', 1971, '전남', '019', '3333333', 177, datetime.date(2007, 7, 7)), ('LJB', '임재범', 1963, '서울', '016', '6666666', 182, datetime.date(2009, 9, 9)), ('LSG', '이승기', 1987, '서울', '011', '1111111', 182, datetime.date(2008, 8, 8)), ('SSK', '성시경', 1979, '서울', None, None, 186, datetime.date(2013, 12, 12)), ('YJS', '윤종신', 1969, '경남', None, None, 170, datetime.date(2005, 5, 5)))

In [11]:
# step 5 : DB 연결 종료
con.close()

In [25]:
import pandas as pd

In [28]:
df = pd.DataFrame(rows)

In [29]:
df

      0    1     2   3     4        5    6           7
0   BBK  바비킴  1973  서울   010  0000000  176  2013-05-05
1   EJW  은지원  1972  경북   011  8888888  174  2014-03-03
2   JKW  조관우  1965  부산   018  9999999  172  2010-10-10
3   JYP  조용필  1950  경기   011  4444444  166  2009-04-04
4   KBM  김병만  1977  경기   010  5555555  158  2023-01-01
5   KBS  김범수  1979  경남   011  2222222  173  2012-04-04
6   KKH  김경호  1971  전남   019  3333333  177  2007-07-07
7   LJB  임재범  1963  서울   016  6666666  182  2009-09-09
8   LSG  이승기  1987  서울   011  1111111  182  2008-08-08
9   SSK  성시경  1979  서울  None     None  186  2013-12-12
10  YJS  윤종신  1969  경남  None     None  170  2005-05-05

In [22]:
# 전역변수 선언부
con, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
row = None

# 메인 코드
con = pymysql.connect(host='localhost', user='root', password='1234',
                      db='sqldb', charset='utf8')
cur = con.cursor()

cur.execute("select * from usertbl")

print("사용자ID   사용자이름     이메일       출생연도")
print("--------------------------------------------------")

while (True) :
    row = cur.fetchone()
    if row==None :
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print("%5s  %8s  %23s  %s" % (data1, data2, data3, data4))
    
con.close()

사용자ID   사용자이름     이메일       출생연도
--------------------------------------------------
  BBK       바비킴                     1973  서울
  EJW       은지원                     1972  경북
  JKW       조관우                     1965  부산
  JYP       조용필                     1950  경기
  KBM       김병만                     1977  경기
  KBS       김범수                     1979  경남
  KKH       김경호                     1971  전남
  LJB       임재범                     1963  서울
  LSG       이승기                     1987  서울
  SSK       성시경                     1979  서울
  YJS       윤종신                     1969  경남

In [39]:
import pymysql
from tkinter import *
from tkinter import messagebox

## 함수 선언부
def insertData() :
    con, cur = None, None
    data1, data2, data3, data4 = "", "", "", ""
    sql=""
    
    conn = pymysql.connect(host='127.0.0.1', user='root', password='1234',
                           db='sqldb', charset='utf8')
    cur = conn.cursor()
    
    data1 = edt1.get();  data2 = edt2.get();  data3 = edt3.get();
    data4 = edt4.get()
    try :
        sql = "insert into usertbl values('" + data1 + "', '" + data2 + "','"
        + data3 + "', " + data4 + ")"
        cur.execute(sql)
    except :
        messagebox.showerror('오류', '데이터 입력 오류가 발생함')
    else :
        messagebox.showinfo('성공', '데이터 입력 성공')
    conn.commit()
    conn.close()
    
def selectData() :
    strData1, strData2, strData3, strData4 = [], [], [], []
    conn = pymysql.connect(host='127.0.0.1', user='root', password='1234',
                           db='sqldb', charset='utf8')
    cur = conn.cursor()
    cur.execute("select * from usertbl")
    strData1.append("사용자ID");    strData2.append("사용자이름")
    strData3.append("이메일");    strData4.append("출생년도")
    strData1.append("-----------");    strData2.append("-----------")
    strData3.append("-----------");    strData4.append("-----------")
    
    while (True) :
        row = cur.fetchone()
        if row == None :
            break;
        strData1.append(row[0]);    strData2.append(row[1])
        strData3.append(row[2]);    strData4.append(row[3])
        
    listData1.delete(0,listData1.size() - 1);    listData2.delete(0,listData2.size() - 1)
    listData3.delete(0,listData3.size() - 1);    listData4.delete(0,listData4.size() - 1)
    for item1, item2, item3, item4 in zip(strData1, strData2, strData3, strData4 ):
        listData1.insert(END, item1);    listData2.insert(END, item2)
        listData3.insert(END, item3);    listData4.insert(END, item4)
    conn.close()
    
## 메인 코드부
window = Tk()
window.geometry("600x300")
window.title("GUI 데이터 입력")

edtFrame = Frame(window);
edtFrame.pack()
listFrame = Frame(window)
listFrame.pack(side = BOTTOM,fill=BOTH, expand=1)

edt1 = Entry(edtFrame, width=10);    edt1.pack(side=LEFT,padx=10, pady=10)
edt2 = Entry(edtFrame, width=10);    edt2.pack(side=LEFT,padx=10, pady=10)
edt3 = Entry(edtFrame, width=10);    edt3.pack(side=LEFT,padx=10, pady=10)
edt4 = Entry(edtFrame, width=10);    edt4.pack(side=LEFT,padx=10, pady=10)

btnInsert = Button(edtFrame, text="입력", command = insertData)
btnInsert.pack(side=LEFT,padx=10,pady=10)
btnInsert = Button(edtFrame, text="조회", command = selectData)
btnInsert.pack(side=LEFT,padx=10,pady=10)

listData1 = Listbox(listFrame,bg = 'yellow');
listData1.pack(side=LEFT,fill=BOTH, expand=1)
listData2 = Listbox(listFrame,bg = 'yellow')
listData2.pack(side=LEFT,fill=BOTH, expand=1)
listData3 = Listbox(listFrame,bg = 'yellow')
listData3.pack(side=LEFT,fill=BOTH, expand=1)
listData4 = Listbox(listFrame,bg = 'yellow')
listData4.pack(side=LEFT,fill=BOTH, expand=1)

window.mainloop()